+sticky-footer(50px, ".wrap", ".push", ".footer")

.logo
	font-size: 30px
	font-weight: bold
	margin-bottom: 0.75em

.colors
	.grid-row
		margin-bottom: 30px

	.item
		border-radius: $border-radius
		box-shadow: 0 1px 3px rgba(0, 15, 10, .15)

		.dark, 
		.light
			width: 50%
			height: 50px
			float: left

			&.dark
				border-radius: $border-radius 0 0 0
			&.light
				border-radius: 0 $border-radius 0 0

		.title
			border-radius: 0 0 $border-radius $border-radius
			padding: 0 15px
			clear: both
			height: 50px
			line-height: 50px