main
	padding: $margin-vertical-space 0 $margin-vertical-space * 1.5

.logo
	font-size: 30px
	font-weight: bold
	margin-bottom: .5em
	display: block

	i
		width: 28px
		line-height: 20px

.logo-p
	color: $color-dark-gray-light

.footer
	.logo-p
		color: $color-medium-gray-dark

.colors
	.grid-row
		margin-bottom: 30px

		&:last-of-type
			margin-bottom: 0

	.item
		border-radius: $border-radius
		//@extend .shadowed

		.dark, 
		.light
			width: 50%
			height: $height-component-fat
			float: left

			&.dark
				border-radius: $border-radius 0 0 0
			&.light
				border-radius: 0 $border-radius 0 0

		.title
			border-radius: 0 0 $border-radius $border-radius
			padding: 0 15px
			clear: both
			height: $height-component-fat
			line-height: $height-component-fat
			border: 1px solid $border-component-color
			border-top: none

.grid-demo
	.grid-row
		margin-bottom: $margin-vertical-space

		&:last-of-type
			margin-bottom: 0

		$opacity: 1
		$items: 9

		@while $items > 0
			&:nth-child(#{$items})
				opacity: $opacity - .085 * $items
			$items: $items - 1

		div
			@extend .border-radius
			background: $color-aqua-light
			height: $height-component-fat
			line-height: $height-component-fat
			color: #fff
			text-align: center

.super
	font-size: 16px
	position: absolute
	margin-top: -6px
	margin-left: 12px

.paintable,
.resizeable
	&.resizeable i
		font-size: 16px

	i
		margin-right: .6ex

	margin-right: 3ex
	font-style: italic
	font-size: 14px