@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic)

* a
	+unstyled-link
	@extend .links-default
	transition: color $animation-component-duration

body
	font-family: 'Asap', sans-serif
	color: $color-dark-gray-dark
	line-height: $font-base-line-height
	font-size: $font-base-font-size

.limiter
	width: $overall-width
	margin: 0 auto