script(type="text/x-handlebars-template")#template-demo-popup-1-content
	p This example will show you, how the popup can appear and disappear, and how it play its own waiting animation. Also you can set a timeout, that automatically removes waiting mode from a popup window
	
	.checker#popup-sample-waiting-checker
		a(href="#", data-toggled-content="Switch waiting mode off") Switch waiting mode on


script(type="text/x-handlebars-template")#template-demo-popup-2-content
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
		|sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
		
	.checker
		a#popup-sample-messages-error(href="#") Show error message
		a#popup-sample-messages-success(href="#") Show success message
