script(type="text/x-handlebars-template")#template-demo-popup-1-content
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
		|sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
	
	.checker#popup-sample-waiting-checker
		a(href="#", data-toggled-content="Switch to idle mode") Switch to waiting mode

script(type="text/x-handlebars-template")#template-demo-popup-2-content
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
		|sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
	.checker
		a#popup-sample-messages-error(href="#") Show error message
		a#popup-sample-messages-success(href="#") Show success message