
<footer class="footer">
  <div class="limiter">
    <div class="grid-row">
      <div class="col-6"><a href="/" class="color-white">
          <div class="logo">Quodo&nbsp;<i class="fa fa-rocket color-aqua-dark"></i>&nbsp;2&nbsp;</div>
          <p class="logo-p">Application UI library</p></a></div>
      <div class="col-6">
        <nav class="nav"><a href="/colors.html">Colors</a><a href="/nav-v.html">Vertical navigation</a><a href="/nav-h.html">Horizontal navigation</a><a href="/grid.html">Grid</a></nav>
      </div>
      <div class="col-6">
        <nav class="nav"><a href="/buttons.html">Buttons</a><a href="/table.html">Table</a><a href="/typography.html">Typography</a></nav>
      </div>
      <div class="col-6">
        <nav class="nav"></nav>
      </div>
    </div>
  </div>
</footer>