footer.footer
	.limiter
		.grid-row
			.col-3
				a.color-white(href="#")
					.logo
						| Quodo&nbsp;
						i.fa.fa-rocket.color-aqua-dark
						| &nbsp;2&nbsp;
					p.logo-p Application UI library

			.col-3
				nav.nav
					a.active(href="#") Colors
					a(href="#") Navigation
					a(href="#") Grid
					a(href="#") Colors
			.col-3
				nav.nav
					a.active(href="#") Colors
					a(href="#") Navigation
					a(href="#") Grid
					a(href="#") Colors
			.col-3
				nav.nav
					a.active(href="#") Colors
					a(href="#") Navigation
					a(href="#") Grid
					a(href="#") Colors