head 
	title Quodo 2

	link(rel="stylesheet", href="/css/screen.css")
	link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css")

	script(src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js")
	script(src="/js/demo.js")