a(href="/").color-dark-gray-dark
	.logo
		| Quodo&nbsp;
		i.fa.fa-rocket.color-aqua-dark
		| &nbsp;2&nbsp;

	p.logo-p Application UI library

nav.nav.fat.bordered
	a(href="/colors.html", class= (section=='colors' ? 'active' : '')) Colors
	a(href="/nav.html", class= (section=='nav' ? 'active' : '')) Navigation
	a(href="/grid.html", class= (section=='grid' ? 'active' : '')) Grid
	a(href="/buttons.html", class= (section=='buttons' ? 'active' : '')) Buttons