a(href="/").color-dark-gray-dark
	.logo
		|Quodo
		i.fa.fa-rocket.color-aqua-dark
		|2

	p.logo-p Application UI library

nav.nav.fat.bordered
	a(href="/colors.html", class=(section=='colors' ? 'active' : '')) Colors
	a(href="/nav-v.html", class=(section=='nav-v' ? 'active' : '')) Vertical navigation
	a(href="/nav-h.html", class=(section=='nav-h' ? 'active' : '')) Horizontal navigation
	a(href="/grid.html", class=(section=='grid' ? 'active' : '')) Grid
	a(href="/buttons.html", class=(section=='buttons' ? 'active' : '')) Buttons
	a(href="/table.html", class=(section=='table' ? 'active' : '')) Table
	a(href="/typography.html", class=(section=='typography' ? 'active' : '')) Typography