a(href="/").color-dark-gray-dark
	.logo
		|Quodo
		i.fa.fa-rocket.color-aqua-dark
		|2

	p.logo-p Application UI library

nav.nav.fat.bordered
	a(href="/colors.html", class=(section=='colors' ? 'active' : '')) Colors
	a(href="/nav.html", class=(section=='nav' ? 'active' : '')) Navigation
	a(href="/grid.html", class=(section=='grid' ? 'active' : '')) Grid
	a(href="/buttons.html", class=(section=='buttons' ? 'active' : '')) Buttons
	a(href="/table.html", class=(section=='table' ? 'active' : '')) Table
	a(href="/typography.html", class=(section=='typography' ? 'active' : '')) Typography
	a(href="/checkers.html", class=(section=='checkers' ? 'active' : '')) Checkers