script(type="text/x-handlebars-template")#template-ui-popup
	.popup(id="{{_id}}")
		.overlay
		.window
			a.close(href="#") 
				i.fa.fa-close
					
			.title
				.text {{title}}
				.wait-indicator
				
			.messages
			.content {{content}}

script(type="text/x-handlebars-template")#template-ui-popup-message
	.message(class="{{className}}") {{content}}