doctype html
html
	include _mixins
	include partials/head

	body
		.wrap
			main
				.limiter
					include partials/header

					block content
			.push

		include partials/footer
		include partials/ui-templates
		include partials/demo-templates

			
		//.fullscreen
			.overlay
			.window
				.limiter
					.viewport
						h3.title Fullscreen image title
							p.subtitle There is description are going
						a.close(href="#") &times;

						.grid
							.col-18
								.content
									img(src="http://lorempixel.com/1200/1200/sports/1", width="100%")

							.col-6
								.toolbar
									.checker#sample-checker
										|Comments are&nbsp;
										a.active.bg-warm-dark(href="#", data-toggled-content="Disabled", data-active-class="bg-warm-dark") Enabled

									hr

									p Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. 

									hr
									br
	
									a.button.wireframe.wait.w-100(href="#") Send
									br
									br

									a.button.wireframe.w-100.bg-heat-dark(href="#") Delete