extends _layout

block content
	- var section = 'api'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 JavaScript API

			+breadcrumbs([
				['api', 'API']
			])


			// Popup
			+apiSection('Template')
			pre.code-multiline: code.javascript
				|var Template = new UI.Template(templateName);
			br

			+apiPublicMethod('Template.render()')

			hr

			+apiSection('Animate')
			pre.code-multiline: code.javascript
				|var Animate = new UI.Animate({
				|	$element: $('#my-element'),
				|	animationDuration: 300
				|});
			br
			+apiPublicMethod('Animate.play(animationMethod, onDone)', 'Will apply an animation method on the $element, that pointed when you construct UI.Animate()')

			h4 Animation methods
			+paramItem('fadeIn')
			+paramItem('fadeOut')
			+paramItem('appear')
			+paramItem('disappear')
			+paramItem('slideDown')
			+paramItem('slideUp')

			hr

			+apiSection('ClickOutside')
			pre.code-multiline: code.javascript
				|var ClickOutside = new UI.ClickOutside({
				|	selector: '#my-element',
				|	onClickOutside: function($target){}
				|})
			br
			+apiPublicMethod('ClickOutside.bind()', 'Activate the click outside listener')
			+apiPublicMethod('ClickOutside.unbind()', 'Deactivate the click outside listener')

			hr

			// Popup
			+apiSection('Popup')
			pre.code-multiline: code.javascript
				|var Popup = new UI.Popup({
				|	width: 500,
				|	modal: false,
				|	animationDuration: 500,
				|	onBeforeShow: function(instance){}, 
				|	onShow: function(instance){},
				|	onHide: function(instance){}
				|});
			br

			+apiPublicMethod('Popup.show(title, content)', 'Shows the popup')
			+apiPublicMethod('Popup.hide()', 'Hides the popup')
			+apiPublicMethod('Popup.showMessage(type, timeout, content)', 'Shows text with background under the title (it can be error message for example)')
			+apiPublicMethod('Popup.hideMessage()', 'Hides the popup message')
			+apiPublicMethod('Popup.changeContent(html)', 'Change the popup body content')
			+apiPublicMethod('Popup.changeTitle(html)', 'Change the popup title content')
			+apiPublicMethod('Popup.setWaitingMode(timeout, done)', 'Shows waiting animation on the popup title')
			+apiPublicMethod('Popup.removeWaitingMode()', 'Removes the popup waiting animation')

			hr

			// Popup
			+apiSection('Tabs')
			pre.code-multiline: code.javascript
				|var Tabs = new UI.Tabs({
				|	tabsSelector: '#tabs',
				|	tabsContentSelector: '#tabs-content',
				|	sliding: true,
				|	onTabOpen: function(name){}
				|});
			br

			+apiPublicMethod('Tabs.openTab(name)', '')
			+apiPublicMethod('Tabs.next()', '')
			+apiPublicMethod('Tabs.prev()', '')
			+apiPublicMethod('Tabs.getActive()', '')


			hr

			// Fullscreen
			+apiSection('Fullscreen')
			pre.code-multiline: code.javascript
				|var Fullscreen = new UI.Fullscreen({
				|	animationDuration: 500,
				|	onBeforeShow: function(instance){}, 
				|	onShow: function(instance){},
				|	onHide: function(instance){}
				|});
			br

			+apiPublicMethod('Fullscreen.hide()')
			+apiPublicMethod('Fullscreen.setWaitingMode()')
			+apiPublicMethod('Fullscreen.removeWaitingMode()')
			+apiPublicMethod('Fullscreen.prepare()')
			+apiPublicMethod('Fullscreen.render(data, templateName)')
			+apiPublicMethod('Fullscreen.show()')