extends _layout

block content
	- var section = 'breadcrumbs'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Breadcrumbs

			+breadcrumbs([
				['components', 'Components'],
				['forms', 'Forms']
			])

			h2 Default breadcrumbs
			p Those little bastards are very useful

			nav.breadcrumbs
				a(href="#") Catalog
				a(href="#") Pillows
				a(href="#") Soft
				a(href="#") Travel
				a(href="#") Children

				a.active(href="#") Soft travel pillow for children

			.grid.marginless
				include partials/code
