extends ./layout.jade

block content
	- var section = 'buttons'

	.grid-row
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Buttons
			p A beautiful set of buttons, the combinations are awesome

			.grid-row
				.col-6
					button.button.fat.w-100 I am the button
				.col-6
					button.button.fat.bg-lavender-light.wait.w-100 Squeezing the berries...
				.col-6
					button.button.fat.bg-mint-light.volume.next.w-100 Next thing

			br
			.grid-row
				.col-6
					button.button.fat.bg-aqua-light.wait.volume.w-100 Loading the awesome...
				.col-6
					button.button.fat.wireframe.w-100 Show the skeleton
				.col-6
					button.button.fat.bg-sunflower-dark.volume.w-100(disabled) Sorry, i am disabled

			br
			.grid-row
				.col-6
					button.button.fat.bg-sunflower-dark.volume.w-100 Get a suntan
				.col-6
					button.button.fat.bg-bittersweet-light.w-100
						i.fa.fa-bomb
						|&nbsp;Boom!
				.col-6
					button.button.fat.bg-aqua-dark.wireframe.prev.w-100 Blue lines

			//br
			//.box.filled.bg-dark-gray-dark
			//	.grid-row
			//		.col-4.text-center
			//			button.button.fat.bg-aqua-light.wireframe.prev.w-100 Back
			//		.col-10.text-center
			//			button.button.fat.bg-white.wireframe: i.fa.fa-play
			//			button.button.fat.bg-white.wireframe: i.fa.fa-pause
			//			button.button.fat.bg-bittersweet-light.wireframe: i.fa.fa-eject
			//		.col-4.text-center
			//			button.button.fat.bg-aqua-light.wireframe.next.w-100 Next

			br

			.grid-row
				.col-9
					include partials/code

				.col-9.text-right
					include partials/paintable
					include partials/resizeable

			// h3 Code for this example
			// pre: code.C
			// 	|public ActionResult Index()
			// 	|{
			// 	|	var i = 0;
			// 	|	return View();
			// 	|}