extends ./layout.jade

block content
	- var section = 'buttons'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Buttons
			p A beautiful set of buttons, the combinations are awesome

			.grid
				.col-6
					button.button.fat.w-100 I am the button
					br
					br
				.col-6
					button.button.fat.bg-myst-light.wait.w-100 Squeezing the berries...
					br
					br
				.col-6
					button.button.fat.bg-neutral-light.volume.next.w-100 Next thing
					br
					br

			.grid
				.col-6
					button.button.fat.bg-cold-light.wait.volume.w-100 Loading the awesome...
					br
					br
				.col-6
					button.button.fat.wireframe.w-100 Show the skeleton
					br
					br
				.col-6
					button.button.fat.bg-warm-dark.volume.w-100(disabled) Sorry, i am disabled
					br
					br

			.grid
				.col-6
					button.button.fat.bg-warm-dark.volume.w-100 Get a suntan
					
				.col-6
					button.button.fat.bg-heat-light.w-100
						i.fa.fa-bomb
						|&nbsp;Boom!

				.col-6
					button.button.fat.bg-cold-dark.wireframe.prev.w-100 Blue lines

			//br
			//.box.filled.bg-dark-gray-dark
			//	.grid
			//		.col-4.text-center
			//			button.button.fat.bg-cold-light.wireframe.prev.w-100 Back
			//		.col-10.text-center
			//			button.button.fat.bg-white.wireframe: i.fa.fa-play
			//			button.button.fat.bg-white.wireframe: i.fa.fa-pause
			//			button.button.fat.bg-heat-light.wireframe: i.fa.fa-eject
			//		.col-4.text-center
			//			button.button.fat.bg-cold-light.wireframe.next.w-100 Next

			br

			.grid
				include partials/code
				include partials/colorable
				include partials/resizeable