extends _layout

block content
	- var section = 'buttons'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Buttons

			+breadcrumbs([
				['components', 'Components'],
				['buttons', 'Buttons']
			])

			h2 Buttons set
			p A beautiful set of buttons, the combinations of styles are awesome

			.grid
				.col-6
					button.button.fat.w-100 I am the button
				.col-6
					button.button.fat.bg-myst-light.wait.w-100 Squeezing the berries...
				.col-6
					button.button.fat.bg-neutral-light.volume.next.w-100 Next thing

			.grid
				.col-6
					button.button.fat.bg-cold-light.wait.volume.w-100 Loading the awesome...
				.col-6
					button.button.fat.wireframe.w-100 Show me the skeleton
				.col-6
					button.button.fat.bg-mix-light.volume.w-100(disabled) Sorry, i am disabled

			.grid
				.col-6
					button.button.fat.bg-warm-dark.volume.w-100 Get a suntan
				.col-6
					button.button.fat.bg-heat-light.w-100
						i.fa.fa-bomb
						|&nbsp;Boom!
				.col-6
					button.button.fat.bg-cold-dark.wireframe.prev.w-100 Blue lines

			//br
			//.box.filled.bg-dark-gray-dark
			//	.grid
			//		.col-4.text-center
			//			button.button.fat.bg-cold-light.wireframe.prev.w-100 Back
			//		.col-10.text-center
			//			button.button.fat.bg-white.wireframe: i.fa.fa-play
			//			button.button.fat.bg-white.wireframe: i.fa.fa-pause
			//			button.button.fat.bg-heat-light.wireframe: i.fa.fa-eject
			//		.col-4.text-center
			//			button.button.fat.bg-cold-light.wireframe.next.w-100 Next


			.grid.marginless
				include partials/code
				include partials/colorable
				include partials/resizeable

			hr

			h2 Button groups
			p You can combine a couple of buttons into a group


			.grid
				.col-9
					.button-group.separators
						button.button.fat.volume Yeah!
						button.button.fat.volume Hmm...
						button.button.fat.volume Pff, nah!

				.col-9
					.button-group
						button.button.fat.bg-cold-light.volume Yeah!
						button.button.fat.bg-heat-light.volume Pff, nope!

			.grid.marginless
				include partials/code
				include partials/colorable
				include partials/resizeable