extends _layout

block content
	- var section = 'colors'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Colors

			+breadcrumbs([
				['components', 'Components'],
				['colors', 'Colors']
			])

			h2 Colors set
			p A backgrounds, text and links colors, that also suitable for theming

			.colors
				.grid
					.col-6
						.item
							.dark.bg-heat-dark
							.light.bg-heat-light
							.title heat
					.col-6
						.item
							.dark.bg-warm-dark
							.light.bg-warm-light
							.title warm
					.col-6
						.item
							.dark.bg-soft-dark
							.light.bg-soft-light
							.title soft

				.grid
					.col-6
						.item
							.dark.bg-neutral-dark
							.light.bg-neutral-light
							.title neutral

					.col-6
						.item
							.dark.bg-cold-dark
							.light.bg-cold-light
							.title cold
					.col-6
						.item
							.dark.bg-mid-dark
							.light.bg-mid-light
							.title mid

				.grid
					.col-6
						.item
							.dark.bg-myst-dark
							.light.bg-myst-light
							.title myst
					.col-6
						.item
							.dark.bg-mix-dark
							.light.bg-mix-light
							.title mix

					.col-6
						.item
							.dark.bg-light-gray-dark
							.light.bg-light-gray-light
							.title light-gray

				.grid
					.col-6
						.item
							.dark.bg-medium-gray-dark
							.light.bg-medium-gray-light
							.title medium-gray
					.col-6
						.item
							.dark.bg-dark-gray-dark
							.light.bg-dark-gray-light
							.title dark-gray
					.col-6
						.item
							.dark.bg-black-dark
							.light.bg-black-light
							.title black

			br
			hr

			h2 Coloured text
			p
				span.color-heat-dark Any
				|&nbsp;
				span.color-heat-light text
				|&nbsp;
				span.color-warm-dark are
				|&nbsp;
				span.color-warm-light suitable
				|&nbsp;
				span.color-soft-dark for
				|&nbsp;
				span.color-soft-light using
				|&nbsp;
				span.color-neutral-dark with
				|&nbsp;
				span.color-neutral-light the
				|&nbsp;
				span.color-neutral-light colors

			.grid.marginless
				include partials/code

			hr

			h2 Coloured links
			p
				a(href="#stayhere").color-heat-dark Links
				|&nbsp;
				a(href="#stayhere").color-heat-light are
				|&nbsp;
				a(href="#stayhere").color-warm-dark also
				|&nbsp;
				a(href="#stayhere").color-warm-light available
				|&nbsp;
				a(href="#stayhere").color-soft-dark in
				|&nbsp;
				a(href="#stayhere").color-soft-light any
				|&nbsp;
				a(href="#stayhere").color-neutral-dark of
				|&nbsp;
				a(href="#stayhere").color-neutral-light these
				|&nbsp;
				a(href="#stayhere").color-cold-dark magic
				|&nbsp;
				a(href="#stayhere").color-cold-light colors

			.grid.marginless
				include partials/code