extends ./layout.jade

block content
	- var section = 'components'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Components
			p A full of power UI-construction kit

			.nav-bricks
				.grid
					.col-6
						a.item(href="buttons.html")
							span.icon.bg-cold-light
								i.fa.fa-square
							span.text Buttons

					.col-6
						a.item(href="checkers.html")
							span.icon.bg-cold-light
								i.fa.fa-check-square
							span.text Checkers

					.col-6
						a.item(href="forms.html")
							span.icon.bg-cold-light
								i.fa.fa-paper-plane-o
							span.text Forms

				.grid
					.col-6
						a.item(href="nav-h.html")
							span.icon.bg-cold-light
								i.fa.fa-ellipsis-h
							span.text Horizontal navigation

					.col-6
						a.item(href="nav-v.html")
							span.icon.bg-cold-light
								i.fa.fa-bars
							span.text Vertical navigation

					.col-6
						a.item(href="popup.html")
							span.icon.bg-cold-light
								i.fa.fa-list-alt
							span.text Popup

				.grid
					.col-6
						a.item(href="table.html")
							span.icon.bg-cold-light
								i.fa.fa-table
							span.text Table

					.col-6
						a.item(href="breadcrumbs.html")
							span.icon.bg-cold-light
								i.fa.fa-long-arrow-right
							span.text Breadcrumbs

					.col-6
						a.item(href="tabs.html")
							span.icon.bg-cold-light
								i.fa.fa-folder-o
							span.text Tabs
