extends ./layout.jade

block content
	- var section = 'forms'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Forms
			p The forms with a lot of shapes

			form.form.w-50
				.row
					.label
						label(for="name-1") Name
					.input
						input#name-1(type="text", tabindex="1")

				.row
					.label
						label(for="email-1") E-mail
					.input
						input#email-1(type="email", tabindex="2", placeholder="name@domain.com")

				.row
					.label
						label(for="realm-1", tabindex="3") Realm

					.input
						.select
							select#realm-1
								option North America
								option Europe
								option Asia
								option Oceania
								option South Africa

				.row
					.label
						label Gender

					.input
						input#gender-1-1(type="radio", tabindex="5", name="gender-1", value="1", checked)
						label(for="gender-1-1") Male

						input#gender-1-2(type="radio", tabindex="6", name="gender-1", value="2")
						label(for="gender-1-2") Female

				.row
					.input
						input#remember-1(type="checkbox", tabindex="4")
						label(for="remember-1") Remember me

				.row
					.input
						.button-group
							button.button.bevel.bg-cold-light(type="submit") Login
							button.button.bevel Cancel

			br
			.grid
				a.code(href="#")
					i.fa.fa-code
					| &nbsp;The code


			hr

			h1 Horizontal
			p Another kind &mdash; horizontal mode

			form.form.horizontal.w-50
				.row
					.label
						label(for="name-2") Name

					.input
						input#name-2(type="text", tabindex="11")

				.row
					.label
						label(for="email-2") E-mail

					.input
						input#email-2(type="email", tabindex="12", placeholder="name@domain.com")

				.row
					.label
						label(for="realm-2", tabindex="13") Realm

					.input
						.select
							select#realm-1
								option North America
								option Europe
								option Asia
								option Oceania
								option South Africa

				.row
					.label
						label Gender

					.input
						input#gender-2-1(type="radio", tabindex="15", name="gender-2", value="1", checked)
						label(for="gender-2-1") Male

						input#gender-2-2(type="radio", tabindex="16", name="gender-2", value="2")
						label(for="gender-2-2") Female

				.row
					.input
						input#remember-2(type="checkbox", tabindex="14")
						label(for="remember-2") Remember me

				.row
					.input
						.button-group
							button.button.bevel.bg-cold-light(type="submit") Login
							button.button.bevel Cancel

			br
			.grid
				a.code(href="#")
					i.fa.fa-code
					| &nbsp;The code

