extends ./layout.jade

block content
	- var section = 'forms'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Forms
			p The forms with a lot of shapes

			.grid
				.col-9
					.form
						input