extends ./layout.jade

block content
	- var section = 'forms'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Forms
			p The forms with a lot of shapes

			.grid
				.col-9
					h2 Horizontal
					form.form
						.input
							label(for="name-1") Name
							input#name-1(type="text", tabindex="1")

						.input
							label(for="email-1") E-mail
							input#email-1(type="email", tabindex="2")

						.input
							label(for="send-1") Send me $1 000 000
							input#send-1(type="checkbox", tabindex="3")

						button.button.fat.bg-neutral-light(type="submit") Login

				.col-8
					h2 Horizontal
					form.form.horizontal
						.input
							label(for="name-2") Name
							input#name-2(type="text", tabindex="4")

						.input
							label(for="email-2") E-mail
							input#email-2(type="email", tabindex="5")

						.input
							label(for="send-2") Send me $1 000 000
							input#send-2(type="checkbox", tabindex="6")

						button.button.fat.bg-neutral-light(type="submit") Login