extends _layout

block content
	- var section = 'forms'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Forms

			+breadcrumbs([
				['components', 'Components'],
				['forms', 'Forms']
			])

			h2 Default form
			p There's nothing to say

			.grid
				.col-12
					form.form
						.row
							.label
								label(for="name-1") Name
							.input
								input#name-1(type="text", tabindex="1")

						.row
							.label
								label(for="email-1") E-mail
							.input
								input#email-1(type="email", tabindex="2", placeholder="name@domain.com")

						.row
							.label
								label(for="realm-1") Realm

							.input
								.select
									select#realm-1(tabindex="3")
										option North America
										option South America
										option Europe
										option Asia
										option Oceania
										option South Africa

						.row
							.input
								input#remember-1(type="checkbox", tabindex="4")
								label(for="remember-1") Remember me

						.row
							.input
								button.button.w-100(type="submit") Login

			.grid.marginless
				include partials/code

			hr

			h2 Horizontal form
			p Another kind &mdash; horizontal mode

			.grid
				.col-12
					form.form.horizontal
						.row
							.label
								label(for="name-2") Name

							.input
								input#name-2(type="text", tabindex="11")

						.row
							.label
								label(for="email-2") E-mail

							.input
								input#email-2(type="email", tabindex="12", placeholder="name@domain.com")

						.row
							.label
								label(for="realm-2") Realm

							.input
								.select
									select#realm-2(tabindex="13")
										option North America
										option South America
										option Europe
										option Asia
										option Oceania
										option South Africa

						.row
							.label
								label Gender

							.input
								input#gender-2-1(type="radio", tabindex="15", name="gender-2", value="1", checked)
								label(for="gender-2-1") Male

								input#gender-2-2(type="radio", tabindex="16", name="gender-2", value="2")
								label(for="gender-2-2") Female

						.row
							.input
								input#remember-2(type="checkbox", tabindex="17")
								label(for="remember-2") Remember me

						.row
							.input
								button.button.w-100(type="submit") Login

			.grid.marginless
				include partials/code

			hr

			h2 Errors
			p This sample shows how inputs can be marked as a wrong

			.grid
				.col-12
					form.form.horizontal
						.row
							.label
								label(for="name-3") Name

							.input
								input.error#name-3(type="text", tabindex="21")

						.row
							.label
								label(for="email-3") E-mail

							.input
								input#email-3(type="email", tabindex="22", placeholder="name@domain.com")

						.row
							.label
								label(for="realm-3", tabindex="23") Realm

							.input
								.select.error
									select#realm-3(tabindex="24")
										option North America
										option South America
										option Europe
										option Asia
										option Oceania
										option South Africa

						.row
							.label
								label Gender

							.input
								input#gender-3-1(type="radio", tabindex="25", name="gender-2", value="1", checked)
								label(for="gender-3-1") Male

								input#gender-3-2(type="radio", tabindex="26", name="gender-2", value="2")
								label(for="gender-3-2") Female

						.row
							.input
								input.error#remember-3(type="checkbox", tabindex="27")
								label(for="remember-3") Remember me

						.row
							.input
								button.button.w-100(type="submit", disabled) Please, correct a wrong fields

			.grid.marginless
				include partials/code