extends _layout

block content
	- var section = 'fullscreen'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Fullscreen

			+breadcrumbs([
				['components', 'Components'],
				['fullscreen', 'Fullscreen']
			])

			h2 Fullscreen demo
			p The fullscreen component have a rich API, so you can tune it how you prefer

			.grid
				.col-6: a.button.fat.w-100#fullscreen-demo-1(href="#") Fullscreen

			.grid.marginless
				include partials/code