extends _layout

block content
	- var section = 'grid'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Grid

			+breadcrumbs([
				['components', 'Components'],
				['grid', 'Grid']
			])

			h2 Grid of 24
			p Simple grid system of 24 cols, support nesting

			.grid-demo
				.grid
					.col-2 col-2
					.col-16 col-16

				.grid
					.col-4 col-4
					.col-14 col-14

				.grid
					.col-6 col-6
					.col-12 col-12

				.grid
					.col-8 col-8
					.col-10 col-10

				.grid
					.col-10 col-8
					.col-8 col-8

				.grid
					.col-12 col-12
					.col-6 col-6

				.grid
					.col-14 col-14
					.col-4 col-4

				.grid
					.col-16 col-16
					.col-2 col-2

				.grid
					.col-18 col-18

			br
			.grid.marginless
				include partials/code