extends _layout

block content
	- var section = 'components'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Components

			+breadcrumbs([
				['components', 'Components']
			])

			br
			.nav-glossary
				.grid
					.col-6
						a.item(href="buttons.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-square
							span.text Buttons

					.col-6
						a.item(href="checkers.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-check-square
							span.text Checkers

					.col-6
						a.item(href="forms.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-paper-plane-o
							span.text Forms

				.grid
					.col-6
						a.item(href="nav-h.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-minus
							span.text Horizontal navigation

					.col-6
						a.item(href="nav-v.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-bars
							span.text Vertical navigation

					.col-6
						a.item(href="tabs.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-folder-o
							span.text Tabs

				.grid
					.col-6
						a.item(href="catalog.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-th-large
							span.text Catalog
					.col-6
						a.item(href="glossary.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-th
							span.text Glossary

					.col-6
						a.item(href="breadcrumbs.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-long-arrow-right
							span.text Breadcrumbs

				.grid
					.col-6
						a.item(href="pagination.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-ellipsis-h
							span.text Pagination

					.col-6
						a.item(href="table.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-table
							span.text Table

					.col-6
						a.item(href="popup.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-list-alt
							span.text Popup

				.grid
					.col-6
						a.item(href="colors.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-paint-brush
							span.text Colors

					.col-6
						a.item(href="grid.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-diamond
							span.text Grid

					.col-6
						a.item(href="typography.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-font
							span.text Typography

				.grid
					.col-6
						a.item(href="alerts.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-exclamation-triangle
							span.text Alerts

					.col-6
						a.item(href="fullscreen.html")
							span.icon.bevel.bg-cold-light
								i.fa.fa-arrows-alt
							span.text Fullscreen