extends ./layout.jade

block content
	- var section = 'main'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Take a tour
			p XXy

			nav.bricks
				.grid
					.col-6
						a.item(href="#")
							span.content
								i.fa.fa-navicon

					.col-6
						a.item(href="#")
							span.content
								i.fa.fa-navicon

					.col-6
						a.item(href="#")
							span.content
								i.fa.fa-navicon

				br
				.grid
					.col-6
						a.item(href="#")
							span.content
								i.fa.fa-navicon
					.col-6
						a.item(href="#")
							span.content
								i.fa.fa-navicon
					.col-6
						a.item(href="#")
							span.content
								i.fa.fa-navicon

				br
				.grid
					.col-6
						a.item(href="#")
							span.content
								i.fa.fa-navicon
					.col-6
						a.item(href="#")
							span.content
								i.fa.fa-navicon
					.col-6
						a.item(href="#")
							span.content
								i.fa.fa-navicon

				br
				.grid
					.col-6
						a.item(href="#")
							span.content
								i.fa.fa-navicon
					.col-6
						a.item(href="#")
							span.content
								i.fa.fa-navicon
					.col-6
						a.item(href="#")
							span.content
								i.fa.fa-navicon
