extends _layout

block content
	- var section = 'nav-v'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Vertical navigation

			+breadcrumbs([
				['components', 'Components'],
				['nav-v', 'Vertical navigation']
			])

			h2 Default horizontal navigation
			p Can be bordered, filled or simple inline links

			.grid
				.col-6
					nav.nav.fat.bordered
						a.active(href="#stayhere") Letter
						a(href="#stayhere") Word
						a(href="#stayhere") Expression
						a(href="#stayhere") Article
						a(href="#stayhere") Tale
				.col-6
					nav.nav.fat.filled.bg-cold-light.bevel
						a(href="#stayhere") Letter
						a(href="#stayhere") Word
						a.active(href="#stayhere") Expression
						a(href="#stayhere") Article
						a(href="#stayhere") Tale

				.col-6
					nav.nav.fat
						a(href="#stayhere") Letter
						a(href="#stayhere") Word
						a(href="#stayhere") Expression
						a(href="#stayhere") Article
						a.active(href="#stayhere") Tale

			.grid.marginless
				include partials/code
				include partials/colorable
				include partials/resizeable