extends _layout

block content
	- var section = 'popup'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Popup

			+breadcrumbs([
				['components', 'Components'],
				['popup', 'Popup']
			])

			h2 Fancy popups
			p Yeah, everybody loves popups, if they are of that kind

			.grid
				.col-6: button.button.fat.w-100.bg-cold-light#show-sample-popup-1 Waiting mode
				.col-6: button.button.fat.w-100.bg-cold-light#show-sample-popup-2 Message system
				.col-6: button.button.fat.w-100.bg-cold-light#show-sample-popup-3 Not modal

			.grid.marginless
				include partials/code