extends ./layout.jade

block content
	- var section = 'roadmap'

	mixin feature(state, text)
		if state == 1
			.bullet.bg-grass-light= text

		if state == 2
			.bullet.bg-medium-gray-light= text

		if state == 3
			.bullet.bg-sunflower-light= text

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Roadmap
			p A place, where we solve the problems and making a new things

			h2 Not yet
			+feature(2, 'Wireframed navigation')
			+feature(2, 'Forms')
			+feature(2, 'Pagination')
			+feature(2, 'Solve CSS3 bugs in safari')
			+feature(2, 'Color schemes')

			h2 Ideas
			+feature(3, 'Probably, it\'s nice to make a drag functionality in non modal popup?')
			+feature(3, 'How about a new navigation element - header menu a right side opposite the H1 or H2 links with icons, maybe buttons or something like this?')

			h2 Yep, done!
			+feature(1, 'Fade effect on wait animation of the Popup')
			+feature(1, 'Timeout for popup wait method')
			+feature(1, 'Popup close by click anywhere option')
			+feature(1, 'Popup option for remove overlay')
			+feature(1, 'Breadcrumbs')
			+feature(1, 'Tabs navigation')
			+feature(1, 'Tabs sliding animation on swithing')
			+feature(1, 'Footer width bug (body width)')
