extends _layout

block content
	- var section = 'roadmap'

	mixin feature(state, text)
		if state == 1
			.bullet.bg-soft-light= text

		if state == 2
			.bullet.bg-medium-gray-light= text

		if state == 3
			.bullet.bg-warm-light= text

		if state == 4
			.bullet.bg-cold-light= text

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Roadmap

			+breadcrumbs([
				['components', 'Components'],
				['roadmap', 'Roadmap']
			])

			h2 Not yet


			+feature(2, 'Solve CSS3 bugs in safari')
			+feature(2, 'Very low FPS in sliding popup')
			+feature(2, 'History list (something like GitHub\'s commits list)')
			+feature(2, 'Some variations of protoframes/product cards view')
			+feature(2, 'Media list (useful for news list, for example)')
			+feature(2, 'Flip-animated navigation block')
			+feature(2, 'Request animation frame instead of setTimeout() in animations')

			h2 Ideas&nbsp;
				em.text-fade.text-slim &mdash; will be released not so close
			+feature(3, 'Probably, it\'s nice to make a drag functionality in non modal popup?')
			+feature(3, 'How about a new navigation element - header menu a right side opposite the H1 or H2 links with icons, maybe buttons or something like this?')
			+feature(3, 'Color schemes')
			+feature(3, 'Dark mode')
			+feature(3, 'Video player')
			+feature(3, 'Audio player')
			+feature(3, 'Wireframed navigation')
			+feature(3, 'Switchable responsive mode')
			+feature(3, 'Think about button groups on mobile, when it\'s responsive. Maybe make it vertical?')

			h2 Yep, done!
			+feature(1, 'Grid cols needs bottom margin')
			+feature(1, 'Check popup in mobile')
			+feature(1, 'Pagination')
			+feature(1, 'Inputs errors classes')
			+feature(1, 'Select multiple mode fix (only common shape, not details)')
			+feature(1, 'Margins on mobile when it\'s responsive')
			+feature(1, 'Checkers bug on mobile, when it\'s responsive')
			+feature(1, 'Forms')
			+feature(1, 'Tabs inside a popup')
			+feature(1, 'Fade effect on wait animation of the Popup')
			+feature(1, 'Timeout for popup wait method')
			+feature(1, 'Popup close by click anywhere option')
			+feature(1, 'Popup option for remove overlay')
			+feature(1, 'Breadcrumbs')
			+feature(1, 'Responsive')
			+feature(1, 'Tabs navigation')
			+feature(1, 'Tabs sliding animation on swithing')
			+feature(1, 'Footer width bug (body width)')
			+feature(1, 'Bugs with horizontal nav on mobile, when it\'s responsive')
