extends _layout

block content
	- var section = 'tabs'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Tabs

			+breadcrumbs([
				['components', 'Components'],
				['tabs', 'Tabs']
			])

			h2 Sliding tabs
			p Rapid content-switching component

			.tabs.fat#tabs
				i.marker
				a.active(href="#about") About
				a(href="#contacts") Contacts
				a(href="#media") Media

			.tabs-content#tabs-content
				.page(data-role="tab-page", data-tab="about")
					h3.text-slim About content
					
					p Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
					
					p
						a.tab-trigger.button.wireframe.next(href="#", data-name="contacts") Contacts section

				.page.active(data-role="tab-page", data-tab="contacts")
					h3.text-slim Contacts content
					
					p Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.
					
					p 	
						a.tab-trigger.button.wireframe.prev(href="#", data-name="about") About section
						|&nbsp;
						a.tab-trigger.button.wireframe.next(href="#", data-name="media") Media section

				.page(data-role="tab-page", data-tab="media")
					h3.text-slim Media content
					
					p Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.
					
					p: a.tab-trigger.button.wireframe.prev(href="#", data-name="about") Go back to About

			.grid
				a.code(href="api.html#Popup")
					i.fa.fa-code
					| &nbsp;The code

			hr

			h2 Tabs inside a popup
			p Try to click the open button

			p: a#tabs-popup-trigger.button.wireframe.bg-myst-dark(href="#") Open

			.grid
				a.code(href="api.html#Popup")
					i.fa.fa-code
					| &nbsp;The code