extends _layout

block content
	- var section = 'typography'

	.grid
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Typography

			+breadcrumbs([
				['components', 'Components'],
				['typography', 'Typography']
			])

			h1 First heading element

			p
				|My money's in that office, right? If she start giving me some bullshit about it ain't there, 
				|and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. 
				|Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. 
				|She gonna tell me too. 

			h2 Second heading element
				
			p 
				|Hey, look at me when I'm talking to you, motherfucker. 
				|You listen: we go in there, and that nigga Winston or anybody else is in there, 
				|you the first motherfucker to get shot. You understand?
				|Well, the way they make shows is, they make one show. 
				|That show's called a pilot. 

			h3 Third heading element
			p 
				|Then they show that show to the people who make shows, 
				|and on the strength of that one show they decide if they're going to make more shows. 
				|Some pilots get picked and become television programs.
				|Now that there is the Tec-9, a crappy spray gun from South Miami. 

			h4 Fourth heading element
			p
				|Well, the way they make shows is, they make one show. 
				|That show's called a pilot. Then they show that show to the people who make shows, 
				|and on the strength of that one show they decide if they're going to make more shows. 
				|Some pilots get picked and become television programs.

			h5 Fifth heading element
			p
				|Now that there is the Tec-9, a crappy spray gun from South Miami. 
				|This gun is advertised as the most popular gun in American crime. 
				|Do you believe that shit? It actually says that in the little book 
				|that comes with it: the most popular gun in American crime. 
				|Like they're actually proud of that shit.

			.grid.marginless
				include partials/code

			hr

			h2 Leading text
			p.lead 
				|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
				|incididunt ut labore et dolore magna aliqua.

			p
				|Well, the way they make shows is, they make one show. 
				|That show's called a pilot. Then they show that show to the people who make shows, 
				|and on the strength of that one show they decide if they're going to make more shows. 
				|Some pilots get picked and become television programs.


			.grid.marginless
				include partials/code

			hr
			h2 Address

			address
				strong Company
				br
				|PO Box 77899
				br
				|Vancouver, WA 23456
				br
				|USA

			.grid.marginless
				include partials/code

			hr
			h2 Lists

			.grid.marginless
				.col-6
					ul.bullets
						li Wake up
						li Make a coffee
						li Do small workout
						li Drive to the office
						li Do a job
						li Drive home
						li Watch a movie
						li Go to sleep

				.col-6
					ul.dashes
						li Wake up
						li Make a coffee
						li Do small workout
						li Drive to the office
						li Do a job
						li Drive home
						li Watch a movie
						li Go to sleep

				.col-6
					ol
						li Wake up
						li Make a coffee
						li Do small workout
						li Drive to the office
						li Do a job
						li Drive home
						li Watch a movie
						li Go to sleep

			.grid.marginless
				include partials/code