extends ./layout.jade

block content
	- var section = 'api'

	mixin constructorSection(title, code)
		a(name="#{title}")
		h2 UI.#{title}

	mixin constructorPublicMethod(code, desc)
		div.bullet
			code= code

	mixin paramItem(code)
		div.bullet.bg-pink-rose-light
			code= code

	.grid-row
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 JavaScript API
			p The API will make you happy


			+constructorSection('Animate')
			code.code-multiline: pre
				|var Animate = new UI.Animate({
				|	$element: $('#my-element'),
				|	animationDuration: 300
				|});
			br
			+constructorPublicMethod('Animate.play(animationMethod, onDone)', 'Will apply an animation method on the $element, that pointed when you construct UI.Animate()')
			
			h4 Animation methods
			+paramItem('fadeIn')
			+paramItem('fadeOut')
			+paramItem('appear')
			+paramItem('disappear')

			+constructorSection('ClickOutside')
			code.code-multiline: pre
				|var ClickOutside = new UI.ClickOutside({
				|	selector: '#my-element',
				|	onClickOutside: function($target){}
				|})
			br
			+constructorPublicMethod('ClickOutside.bind()', 'Activate the click outside listener')
			+constructorPublicMethod('ClickOutside.unbind()', 'Deactivate the click outside listener')


			// Popup
			+constructorSection('Popup')
			code.code-multiline: pre
				|var Popup = new UI.Popup({
				|	width: 500,
				|	modal: false,
				|	animationDuration: 500,
				|	onShow: function(instance){},
				|	onHide: function(instance){}
				|});
			br

			+constructorPublicMethod('Popup.show(title, content)', 'Shows the popup')
			+constructorPublicMethod('Popup.hide()', 'Hides the popup')
			+constructorPublicMethod('Popup.showMessage(type, timeout, content)', 'Shows text with background under the title (it can be error message for example)')
			+constructorPublicMethod('Popup.hideMessage()', 'Hides the popup message')
			+constructorPublicMethod('Popup.changeContent(html)', 'Change the popup body content')
			+constructorPublicMethod('Popup.changeTitle(html)', 'Change the popup title content')
			+constructorPublicMethod('Popup.setWaitingMode(timeout, done)', 'Shows waiting animation on the popup title')
			+constructorPublicMethod('Popup.removeWaitingMode()', 'Removes the popup waiting animation')