extends ./layout.jade

block content
	- var section = 'api'

	mixin constructorSection(title, code)
		a(name="#{title}")
		h2 UI.#{title}
		code.code-multiline: pre=code
		br

	.grid-row
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 JavaScript API
			p The API will make you happy

			// Animate
			- var code = 'sss'
			+constructorSection('Animate', code)

			p.bullet
				code Animate.play(animationMethod, onDone)
				br
				|Will apply an animation method on the $element, that pointed when you construct UI.Animate()


			// ClickOutside
			a(name="ClickOutside")
			h2 UI.ClickOutside
			code.code-multiline: pre
				|var ClickOutside = new UI.ClickOutside({
				|	$element: $('#my-element'),
				|	onClickOutside: function($target){
				|		
				|	}
				|})

			br

			p.bullet
				code ClickOutside.bind()
				br
				|Activate the click outside listener

			p.bullet
				code ClickOutside.unbind()
				br
				|Deactivate the click outside listener


			// Popup
			a(name="Popup")
			h2 UI.Popup
			code.code-multiline: pre
				|var Popup = new UI.Popup({
				|	width: 500,
				|	animationDuration: 500,
				|	onShow: function(instance){
				|	
				|	},
				|	onHide: function(instance){
				|	
				|	}
				|});

			br

			p.bullet
				code Popup.showMessage()
				br
				|Activate the click outside listener

			p.bullet
				code ClickOutside.unbind()
				br
				|Deactivate the click outside listener