extends ./layout.jade

block content
	- var section = 'buttons'

	.grid-row
		.col-3
			include ./partials/leftcol.jade

		.col-9
			h1 Buttons
			p Buttons for people, can be flat or embossed

			a.button(href="#stayhere") I am the button