extends ./layout.jade

block content
	- var section = 'grid'

	.grid-row
		.col-3
			include ./partials/leftcol.jade

		.col-9
			h1 Grid
			p Simple grid system of 12 cols. And of course, as you can see, it nests well

			.grid-demo
				.grid-row
					.col-1 .col-1
					.col-8 .col-8

				.grid-row
					.col-2 .col-2
					.col-7 .col-7

				.grid-row
					.col-3 .col-3
					.col-6 .col-6

				.grid-row
					.col-4 .col-4
					.col-5 .col-5

				.grid-row
					.col-5 .col-4
					.col-4 .col-4

				.grid-row
					.col-6 .col-6
					.col-3 .col-3

				.grid-row
					.col-7 .col-7
					.col-2 .col-2

				.grid-row
					.col-8 .col-8
					.col-1 .col-1

				.grid-row
					.col-9 .col-9