extends ./layout.jade

block content
	- var section = 'grid'

	.grid-row
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Grid
			p Simple grid system of 24, nesting supports

			.grid-demo
				.grid-row
					.col-2 col-2
					.col-16 col-16

				.grid-row
					.col-4 col-4
					.col-14 col-14

				.grid-row
					.col-6 col-6
					.col-12 col-12

				.grid-row
					.col-8 col-8
					.col-10 col-10

				.grid-row
					.col-10 col-8
					.col-8 col-8

				.grid-row
					.col-12 col-12
					.col-6 col-6

				.grid-row
					.col-14 col-14
					.col-4 col-4

				.grid-row
					.col-16 col-16
					.col-2 col-2

				.grid-row
					.col-18 col-18

			br
			.grid-row
				.col-9
					include partials/code