extends ./layout.jade

block content
	- var section = 'main'

	.grid-row
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Kitchen sink
			p Here we make a dinner with our projects, and leave all the dishes at the sink, may be you can find there somenthing inspiring? Do not wash it please.