extends ./layout.jade

block content
	- var section = 'nav-h'

	.grid-row
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Horizontal navigation

			p Can be bordered, filled or simple inline links

			nav.nav.fat.horizontal.bordered
				a(href="#stayhere") Letter
				a(href="#stayhere") Word
				a.active(href="#stayhere") Expression
				a(href="#stayhere") Article
				a(href="#stayhere") Tale

			br

			nav.nav.fat.horizontal.filled.bg-medium-gray-dark
				a(href="#stayhere") Letter
				a(href="#stayhere") Word
				a.active(href="#stayhere") Expression
				a(href="#stayhere") Article
				a(href="#stayhere") Tale
			br

			nav.nav.fat.horizontal.text-center
				a(href="#stayhere") Letter
				a(href="#stayhere") Word
				a.active(href="#stayhere") Expression
				a(href="#stayhere") Article
				a(href="#stayhere") Tale

			br
			.grid-row
				.col-9
					include partials/code

				.col-9.text-right
					include partials/paintable
					include partials/resizeable