extends ./layout.jade

block content
	- var section = 'nav-misc'

	.grid-row
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Breadcrumbs
			p Those little bastards are very useful

			.breadcrumbs
				a(href="#") Main page
				a(href="#") Navigation
				a.active(href="#") Breadcrumbs

			br
			.grid-row
				.col-9
					a.code(href="api.html#Popup")
						i.fa.fa-code
						|&nbsp;The code

			hr

			h1 Tabs
			p Rapid content-switching component

			.tabs.fat
				i.marker
				a.active(href="#about") About
				a(href="#contacts") Contacts
				a(href="#media") Media

			.tabs-content
				.page(data-role="tab-page", data-tab="about")
					h2 About content
					p Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
					p Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.

				.page.active(data-role="tab-page", data-tab="contacts")
					h2 Contacts content
					p Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.
					p: a#tab-media.button(href="#") Media section
					p That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.

				.page(data-role="tab-page", data-tab="media")
					h2 Media content
					p Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.
					p That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
					p Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.

			.grid-row
				.col-9
					a.code(href="api.html#Popup")
						i.fa.fa-code
						| &nbsp;The code
