extends ./layout.jade

block content
	- var section = 'nav-misc'

	.grid-row
		.col-6
			include ./partials/leftcol.jade

		.col-18
			h1 Breadcrumbs
			p Yeah, everybody loves popups

			.breadcrumbs
				a(href="#") Main page
				a(href="#") Navigation
				a.active(href="#") Breadcrumbs

			br
			.grid-row
				.col-9
					a.code(href="api.html#Popup")
						i.fa.fa-code
						|&nbsp;The code