extends ./layout.jade

block content
	- var section = 'nav'

	.grid-row
		.col-3
			include ./partials/leftcol.jade

		.col-9
			h1 Navigation
			p Can be vertical or horizontal, stretched or tighted, bordered, filled or simple inline stripe of links

			h2 Vertical
			.grid-row
				.col-3
					h3 Filled
					nav.nav.fat.filled
						a(href="#stayhere") Letter
						a(href="#stayhere") Word
						a(href="#stayhere") Expression
						a(href="#stayhere") Article
						a(href="#stayhere") Tale
				.col-3
					h3 Bordered
					nav.nav.fat.bordered
						a(href="#stayhere") Letter
						a(href="#stayhere") Word
						a(href="#stayhere") Expression
						a(href="#stayhere") Article
						a(href="#stayhere") Tale
				.col-3
					h3 Default
					nav.nav.fat
						a(href="#stayhere") Letter
						a(href="#stayhere") Word
						a(href="#stayhere") Expression
						a(href="#stayhere") Article
						a(href="#stayhere") Tale
				
			br
			br

			h2 Horizontal
			h3 Filled
			nav.nav.fat.horizontal.filled
				a(href="#stayhere") Letter
				a(href="#stayhere") Word
				a(href="#stayhere") Expression
				a(href="#stayhere") Article
				a(href="#stayhere") Tale
			br

			h3 Bordered
			nav.nav.fat.horizontal.bordered
				a(href="#stayhere") Letter
				a(href="#stayhere") Word
				a(href="#stayhere") Expression
				a(href="#stayhere") Article
				a(href="#stayhere") Tale
			br

			h3 Default
			nav.nav.fat.horizontal
				a(href="#stayhere") Letter
				a(href="#stayhere") Word
				a(href="#stayhere") Expression
				a(href="#stayhere") Article
				a(href="#stayhere") Tale
			br