extends ./layout.jade

block content
	- var section = 'nav'

	.grid-row
		.col-3
			include ./partials/leftcol.jade

		.col-9
			h1 Navigation
			p Can be vertical or horizontal, stretched or tighted, bordered, filled or simple inline stripe of links

			nav.nav.fat.horizontal.filled
				a(href="#stayhere") Item
				a(href="#stayhere") Item
				a(href="#stayhere") Item
				a(href="#stayhere") Item
				a(href="#stayhere") Item