.alert
	background-color: $color-light-gray-dark
	padding: .5em $padding-component-side
	border-radius: $border-radius

	&.error
		background-color: $color-error
		color: #fff

	&.success
		background-color: $color-success
		color: #fff

	&.warning
		background-color: $color-attention
		color: #fff