.button
	background-color: $fill-button-color
	border: none
	display: inline-block
	padding: 0 $padding-component-side
	height: $height-component-default
	line-height: $height-component-default
	position: relative
	outline: none
	border-radius: $border-radius
	transition: opacity .2s
	box-sizing: border-box
	color: $color-links-component
	text-align: center
	font-size: 1em
	cursor: pointer
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis

	&:visited
		color: $color-links-component

	&:before
		content: ''
		position: absolute
		display: block
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-radius: $border-radius - 2
		transition: $animation-component-duration

	&:hover
		color: $color-links-component

		&:before
			background-color: $fill-component-hover

	&:active,
	&.active
		transform: translateY(1px)

		&:before
			background-color: $fill-component-hover

	&[class^="bg-"], 
	&[class*=" bg-"]
		&:not(.wireframe)
			color: #fff

			&:hover,
			&:active
				color: #fff

	&.wait
		@extend .wait-bg

		&:active,
		&.active
			transform: none

		&.volume
			@extend .emboss

			&:active,
			&.active
				@extend .emboss

		&:before
			display: none

	&.volume
		@extend .bevel

		&:active,
		&.active
			@extend .bevel-active

			&:before
				background-color: $fill-component-hover

			&:disabled,
			.wait
				@extend .bevel

	// @TODO: Improve that shit, needs to be merged
	&.next
		padding-right: 40px
		padding-left: 40px

		&:after
			font: normal normal normal 14px/1 FontAwesome
			content: $fa-var-chevron-right
			display: inline-block
			position: absolute
			width: 20px
			height: 20px
			top: 50%
			right: 10px
			font-size: 18px
			margin-top: -8px
			transition: right $animation-component-duration

		&:hover
			&:after
				right: 5px

	&.prev
		padding-left: 40px
		padding-right: 40px

		&:after
			font: normal normal normal 14px/1 FontAwesome
			content: $fa-var-chevron-left
			display: inline-block
			position: absolute
			width: 20px
			height: 20px
			top: 50%
			left: 10px
			font-size: 18px
			margin-top: -8px
			transition: left $animation-component-duration

		&:hover
			&:after
				left: 5px

	&.wireframe
		background-color: transparent
		border: 1px solid $color-links-component + 50
		box-shadow: none !important
		line-height: $height-component-default - 1

		&:before
			background-color: $fill-button-color - 20
			opacity: 0

		&:hover
			&:before
				opacity: .075

		&:active
			&:before
				opacity: .125

		&.wait
			border-color: $fill-button-color - 20
			@extend .wait-bg-dark

	&:disabled,
	&.disabled
		cursor: default
		opacity: .75

		&:before
			display: none

		&:active,
		&.active
			transform: none

	&.fat
		height: $height-component-fat
		line-height: $height-component-fat

		&.wireframe
			line-height: $height-component-fat - 1

	&.slim
		height: $height-component-slim
		line-height: $height-component-slim

		&.wireframe
			line-height: $height-component-slim - 1


// @TODO: Add white and bordered styles to the button 