.checker
	font-size: 14px

	a
		background-color: $fill-button-color
		display: inline-block
		padding: 0 1ex
		border-radius: $border-radius/2
		box-sizing: border-box
		color: $color-links-component
		cursor: pointer
		white-space: nowrap
		margin: 0 2ex 1em 0
		position: relative
		transition: $animation-component-duration*2

		&:after
			content: ''
			width: 100%
			height: 100%
			display: block
			position: absolute
			top: 0
			left: 0
			border-radius: $border-radius/2
			transition: $animation-component-duration
				
		&:hover
			&:after
				background-color: $fill-component-hover

		&:active
			&:after
				background-color: $fill-component-active

		&.active
			background-color: $fill-component-active-state
			color: #fff			

	&.text-right
		a
			margin: 0 0 0 2ex
