.form
	.input
		margin: 0 0 1em
		display: block

	.label
		&:after
			content: ''
			display: block

	input[type="checkbox"],
	input[type="radio"]
		&+label
			margin-right: 2ex

	.button
		+breakpoint($bp-iphone)
			width: 100%

input,
select,
textarea,
	&:disabled
		opacity: .75
		cursor: default

select


input[type="text"],
input[type="email"],
input[type="password"],
textarea
	-webkit-appearance: none
	outline: none
	display: block
	width: 100%
	font-family: $base-font-family
	font-size: $base-font-size
	box-sizing: border-box
	padding: .75em 1.5ex
	border: 1px solid $border-component-color
	border-radius: $border-radius
	transition: $animation-component-duration
	box-shadow: inset 0 0 0 1px transparent

	&:hover
		border-color: $border-component-color - 15

	&:focus
		border-color: $color-cold-light
		box-shadow: inset 0 0 0 1px $color-cold-light


input[type="checkbox"]
	visibility: hidden
	opacity: 0
	position: absolute

	&+label
		&:before
			content: ''
			width: 30px
			height: 30px
			display: inline-block
			background-color: red

	&:checked
		&+label
			&:before
				content: ''
				width: 30px
				height: 30px
				display: inline-block
				background-color: green


input[type="radio"]
	visibility: hidden
	opacity: 0
	position: absolute

	&+label
		&:before
			content: ''
			width: 30px
			height: 30px
			display: inline-block
			background-color: red

	&:checked
		&+label
			&:before
				content: ''
				width: 30px
				height: 30px
				display: inline-block
				background-color: green