.grid-row
	$cols: $grid-cols
	$width: $overall-width
	$gutter: $grid-gutter-width
	$col-w: $width/$cols

	&:after
		display: block
		content: ''
		clear: both

	> [class*='col-']
		float: left
		min-height: 1px
		box-sizing: border-box
		margin-left: $gutter

		&:first-of-type
			margin-left: 0

		&.col-1
			width: $col-w - $gutter

		&.col-2
			width: $col-w*2 - $gutter

		&.col-3
			width: $col-w*3 - $gutter

		&.col-4
			width: $col-w*4 - $gutter

		&.col-5
			width: $col-w*5 - $gutter

		&.col-6
			width: $col-w*6 - $gutter

		&.col-7
			width: $col-w*7 - $gutter

		&.col-8
			width: $col-w*8 - $gutter

		&.col-9
			width: $col-w*9 - $gutter

		&.col-10
			width: $col-w*10 - $gutter

		&.col-11
			width: $col-w*11 - $gutter

		&.col-12
			width: $col-w*12 - $gutter

.push-right
	margin-left: auto
	margin-right: 0

.cntered
	margin: 0 auto

.text-right
	text-align: right

.text-center
	text-align: right

