@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic)

* a
	+unstyled-link
	@extend .links-default
	transition: color $animation-component-duration

body
	font-family: $base-font-family
	text-size-adjust: 100%
	color: $color-text-default
	line-height: $base-line-height
	font-size: $base-font-size
	min-width: $overall-width-min

	+breakpoint($bp-iphone)
		width: 100%
		min-width: 100%
		max-width: 100%

.limiter
	width: 100%
	margin: 0 auto
	padding: 0 $limiter-side-padding
	box-sizing: border-box
	max-width: $overall-width-max
	min-width: $overall-width-min

	+breakpoint($bp-iphone)
		width: 100%
		max-width: 100%
		min-width: 100%


main
	margin: $margin-vertical-space 0 $margin-vertical-space