script(type="text/x-handlebars-template")#template-demo-popup-1-content
	p This example will show you, how the popup can appear and disappear, and how it play its own waiting animation. Also you can set a timeout, that automatically removes waiting mode from a popup window.
	
	.checker#popup-sample-waiting-checker
		a(href="#", data-toggled-content="Switch waiting mode off") Switch waiting mode on


script(type="text/x-handlebars-template")#template-demo-popup-2-content
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
		|sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		
	.checker
		a#popup-sample-messages-error(href="#") Error message
		a#popup-sample-messages-success(href="#") Success message


script(type="text/x-handlebars-template")#template-demo-popup-3-content
	p Click anywhere outside this window to close it.


script(type="text/x-handlebars-template")#template-demo-popup-4-content
	.tabs.fat#tabs-popup
		i.marker
		a.active(href="#about") About
		a(href="#contacts") Contacts
		a(href="#media") Media

	.tabs-content#tabs-popup-content
		.page(data-role="tab-page", data-tab="about")
			p Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.

		.page.active(data-role="tab-page", data-tab="contacts")
			p Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.
			p That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.

		.page(data-role="tab-page", data-tab="media")
			p Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.
			p That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
