footer.footer
	.limiter
		.grid
			.col-6
				a.color-white(href="index.html")
					.logo
						|Quodo
						i.fa.fa-rocket.color-cold-dark
						|2
					p.logo-p Application UI library

				p
					a(href="https://github.com/ruslanchek/Quodo-2")
						i.fa.fa-github
						|&nbsp;GitHub

			.col-18
				nav.nav.white
					.grid.marginless
						.col-6
							a(href="index.html", class=(section=='components' ? 'active' : '')) Components
							a(href="typography.html", class=(section=='typography' ? 'active' : '')) Typography
							a(href="colors.html", class=(section == 'colors' ? 'active' : '')) Colors
							a(href="grid.html", class=(section == 'grid' ? 'active' : '')) Grid
					
						.col-6
							a(href="api.html", class=(section=='api' ? 'active' : '')) API
							a(href="roadmap.html", class=(section=='roadmap' ? 'active' : '')) Roadmap
