head 
	title Quodo 2

	meta(name="viewport", content="width=device-width, initial-scale=1")

	link(rel="stylesheet", href="css/screen.css")
		
	script(src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js")
	script(src="http://code.jquery.com/jquery-2.1.3.min.js")
	script(src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js")
	script(src="http://underscorejs.org/underscore.js")
	script(src="js/ui.js")
	script(src="js/demo.js")