a(href="index.html").color-dark-gray-dark
	.logo
		|Quodo
		i.fa.fa-rocket.color-cold-dark
		|2

	p.logo-p Application UI library

nav.nav.fat.bordered(data-collapse="false", data-collapsed-text="Sections")
	a(href="index.html", class=(section=='components' ? 'active' : '')) Components
	a(href="typography.html", class=(section=='typography' ? 'active' : '')) Typography
	a(href="colors.html", class=(section=='colors' ? 'active' : '')) Colors
	a(href="grid.html", class=(section=='grid' ? 'active' : '')) Grid
	a(href="api.html", class=(section=='api' ? 'active' : '')) API
	a(href="roadmap.html", class=(section=='roadmap' ? 'active' : '')) Roadmap