a(href="index.html").color-dark-gray-dark
	.logo
		|Quodo
		i.fa.fa-rocket.color-cold-dark
		|2

	p.logo-p Application UI library

nav.nav.fat.bordered(data-collapse="false", data-collapsed-text="Sections")
	a(href="colors.html", class=(section=='colors' ? 'active' : '')) Colors
	a(href="nav.html", class=(section=='nav' ? 'active' : '')) Navigation
	a(href="nav-misc.html", class=(section=='nav-misc' ? 'active' : '')) Other navigation
	a(href="grid.html", class=(section=='grid' ? 'active' : '')) Grid
	a(href="buttons.html", class=(section=='buttons' ? 'active' : '')) Buttons
	a(href="forms.html", class=(section=='forms' ? 'active' : '')) Forms
	a(href="table.html", class=(section=='table' ? 'active' : '')) Table
	a(href="typography.html", class=(section=='typography' ? 'active' : '')) Typography
	a(href="checkers.html", class=(section=='checkers' ? 'active' : '')) Checkers
	a(href="popup.html", class=(section=='popup' ? 'active' : '')) Popup
	a(href="api.html", class=(section=='api' ? 'active' : '')) API
	a(href="roadmap.html", class=(section=='roadmap' ? 'active' : '')) Roadmap